.login-container {
  text-align: center;
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
}

.login-container h2 {
  color: #283593;
  font-size: 2rem;
}

.login-container p {
  color: #555;
}
