.login-container {
  width: 350px;
  margin: 50px auto;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.submit-btn {
  background-color: #e78b8b;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #e65c00;
  cursor: pointer;
}
.login-redirect{
  margin-top: 10%;
}
